
h1,
p {
    margin-left: 10px;
    margin-top: 10px;
}
hr {
    background-color: #ffae19;
    color: #ffae19;
	border-radius:50%;
    border-color: #ffae19;
    border-style: ridge;
    display: block;
    height: 1px;
    margin: 10px 20% 10px 20%;
}
body {
    background: radial-gradient(#000000, #FFA500, #000000);
}
.heading{
    color: #FFA500;
	background: radial-gradient(#7f5200, black, black, #7f5200);
    border-style: ridge;
    border-color: #FFA500;
	border-radius: 35%;
    text-shadow: 2px 2px 2px #222222;
	height: 7vh;
	width: 50%;
}
.footer{
    color: #FFA500;
	background: radial-gradient(#7f5200, black, black, black, black, #7f5200);
    border-style: ridge;
    border-color: #FFA500;
	/*border-radius: 35%;*/
    text-shadow: 2px 2px 2px #222222;
	height: 7vh;
	width: 50%;
}
.heading h1 {
	font-family: ‘Lucida Console’, Monaco, monospace;
}
.footer {
    clear: both;
}
.footer h1{
	margin-left:5%;
}
.section1,
.section2,
.section3,
.section4 {
	height: 40h;
	width: 40%;
    margin: 10px;
    border-color: #FFA500;
    border-style: groove;
	border-radius: 35%;
	border-width: 5px;
	background: radial-gradient(#7f5200, black, #7f5200);
    border-image: url("images/M3.jpg") 2 repeat stretch;
}
.section1,
.section3 {
    float: left;
    padding-bottom: 50px;
    postion: relative;
    right: 20%;
	margin-left:8%;
}
.section2,
.section4 {
    float: right;
    padding-bottom: 5%;
	margin-right:8%;
}
.section1 img,
.section3 img {
    margin-top: 20px;
    margin-right: auto;
    height: 200px;
    width: 50%;
    postion: relative;
    border-style: ridge;
	border-radius: 10%;
    border-color: #ffae19;
}
.section3 a {
	postion: relative; right:50%;
}
.section1 h1,
.section2 h1,
.section2 p,
.section3 h1,
.section4 h1{
	margin-top:5%;
    color: #ffae19;
	font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
}
.section2 p{
	margin-left:15%;
	margin-right:10%;
	background: radial-gradient(#7f5200, black, black, black, black, black, black, #7f5200);
	border-radius:10%;
	border-color: transparent;
	border-style: solid ;
	border-width: 2px;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
	padding-right:5%;
}